BLOCK_ICLOUD_PR=true
FTLCONF_dhcp_active=false
FTLCONF_dhcp_end=
FTLCONF_dhcp_ipv6=false
FTLCONF_dhcp_rapidCommit=false
FTLCONF_dhcp_router=
FTLCONF_dhcp_start=
FTLCONF_dns_dnssec=false
DOMAIN_NAME=pihole.local
FTLCONF_LOCAL_IPV4=
HOSTNAME=pihole
PIHOLE_WEBPORT=
FTLCONF_dns_queryLogging=true
FTLCONF_dns_revServers='false'
TZ=
FTLCONF_webserver_api_password=
FTLCONF_webserver_interface_theme=default-dark
FTLCONF_webserver_interface_boxed=boxed